.items {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  margin: 10px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.editBtn {
  max-width: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.button_delete {
  background-color: transparent;
  border: 1px solid red;
  padding: 6px;
  border-radius: 6px;
  color: red;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
.button_delete:hover {
  border: 1px solid #fff;
  background-color: red;
  color: #fff;
  transition: 0.5s;
}
.message {
  position: absolute;
  display: none;
  right: 10%;
  max-width: 180px;
  background-color: #fff;
}
.messageActive {
  position: absolute;
  display: block;
  right: 10%;
  max-width: 190px;
  background-color: #fff;
  padding: 25px;
  border: 1px solid #ccc;
}
