:root {
  --main-bg-color: #fff;
  --main-color: #044cb3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
html {
  /* background-color: #f0f4f9; */
}

