.topcont {
  height: 910px;
  width: 100%;
  background-color: rgba(0, 32, 78, 0.6);
  position: relative;
  z-index: 100;
}
.topcont_img {
  width: 100%;
  height: 910px;
  object-fit: cover;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}
.title {
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 30px;
}
.container {
  max-width: 1680px;
  margin: 0 auto;
  position: relative;
  margin-top: 120px;
}
.text {
  font-size: 24px;
  font-weight: 400;
}
.category_block {
  padding: 60px 0;
}

@media screen and (max-width: 1680px) {
  .container {
    padding: 0 20px;
  }
}
