.container {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.topcont {
  height: 910px;
  width: 100%;
  background-color: rgba(0, 32, 78, 0.6);
  position: relative;
  z-index: 100;
}
.topcont_img {
  width: 100%;
  height: 910px;
  object-fit: cover;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}
