.container {
  max-width: 1680px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.leftContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
}