.container {
  position: relative;
  max-width: 830px;
  width: 100%;
  height: 360px;
  border-radius: 4px;
}
.backFilter {
  width: 100%;
  height: 100%;
  background-color: rgba(3, 50, 120, 0.6);
  position: relative;
  z-index: 100;
  border-radius: 4px;
}
.backImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  border-radius: 4px;
}
.title {
  position: absolute;
  z-index: 100;
  top: 40px;
  left: 40px;
  color: #fff;
  font-size: 48px;
  font-weight: 600;
}
.description {
  position: absolute;
  z-index: 100;
  top: 100px;
  left: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.btn {
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  bottom: 60px;
  right: 60px;
  z-index: 100;
  border: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  background-color: #e6e2e2;
  transition: 0.5s;
}
.deleteBtn {
  z-index: 100;
  border: none;
  width: 40px;
  height: 30px;
  cursor: pointer;
  background: transparent;
}
.deleteBtn img {
  width: 100%;
}
.modalContent {
  font-size: 22px;
}
.navbtns {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 40px;
}
.modal_navbtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 22px;
  transition: 0.5s;
}
.modal_navbtn:hover {
  color: #044cb3;
  transition: 0.5s;
}
.editor_btns {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  display: flex;
  gap: 30px;
}
